.container {
  display: grid;
  background-color: var(--color-primary);
  grid-template-rows: 10% 1fr;
  height: 100vh;
  color: var(--color-secondary);
  width: 100%;
  place-items: center;
}

.docs {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  color: var(--color-primary);
  height: 80vh;
  width: 90%;
  overflow: scroll;
}

.docs::-webkit-scrollbar {
  display: none;
}
