.container {
  display: grid;
  background-color: var(--color-primary);
  grid-template-rows: 10% 1fr;
  height: 100vh;
  color: var(--color-primary);
  justify-items: center;
}

.container > *:nth-child(odd) {
  align-self: center;
}

.container > *:nth-child(even) {
  align-self: start;
}

.searchbar {
  width: 90%;
  border-radius: var(--border-radius);
  border: none;
}

.wrapper {
  width: 90%;
}

.doc {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
}
