@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

:root {
  --color-primary: #2c2b44;
  --color-secondary: #aac3a6;
  --border-radius: 10px;
  --box-color: #c4c4c4;
  --font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
}

button {
  border-radius: 15px;
  border: none;
  background-color: var(--color-secondary);
  font-family: var(--font-family);
  padding: 0.5rem;
}
