/* .upload {
  display: flex;
    flex-direction: column;
  font-family: var(--font-family);
  font-size: 0.8rem;
  text-decoration: underline;
}  */

/* .uploadImage {
  width: 50%;
  height: 50%;
} */

.input {
  visibility: hidden;
  position: absolute;
}
