.upload {
  display: flex;
  flex-direction: column;
  place-items: center;
  font-family: var(--font-family);
  font-size: 0.8rem;
  text-decoration: underline;
}

.uploadImage {
  width: 10%;
  height: 10%;
}

.input {
  visibility: hidden;
  position: absolute;
}
